html {
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: 'DM Serif Display', serif;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 45px;
}

p,
a {
    font-family: 'Inter', sans-serif;
}

li {
    list-style: none;
    gap: 1em;
    justify-content: right;
    padding-right: 4em;
}

a {
    text-decoration: none;
}

nav li a:hover{
    color:#797467
}


/* display */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}


/* colors */

.white {
    color: white;
}

.brown-1 {
    color: #797467;
}

.brown-2 {
    color: #3E3A31
}


/* background colors */

.bg-light-brown {
    background-color: #C7C3BB;
}

.bg-dark {
    background-color: #3E3A31;
}


/* text-alignment */

.text-left-align {
    text-align: justify;
    text-align-last: left;
}

.text-right-align {
    text-align: justify;
    text-align-last: right;
}

.text-center-align {
    text-align: justify;
    text-align-last: center;
    align-items: center;
}


/* item-alignment */

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.background {
    background-image: url('assets/big-ben.png');
}


/* header */

header {
    padding: 1.5em;
    justify-content: right;
}


/* main */
.main {
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    padding-top: 10%;
    gap: 2em;
}

.history {
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 0%;
    gap: 5%;
}

.thumbnail {
    transition: all 0.2s ease-in-out;
    cursor:default;
    height: 200px;
    width: 200px;
}

.thumbnail:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.showcase {
    padding-top: 5%;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 20px;
}

.showcase img {
    border-radius: 5px;
}